body {
    background: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mensagem {
    margin-top: 10px;
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
}
